.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-text {
  font-size: 12px;
  color: black;
  margin-bottom: 4px;
}

.logout-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.clickable-text {
  font-size: 12px;
  color: #724f28;
  cursor: pointer;
}

.clickable-text:hover {
  color: #724f28;
}

.navbar .nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  padding: 8px 18px;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link:hover {
  background-color: #70ac10;
  color: white;
  opacity: 0.5;
}

.navbar .nav-link.active {
  background-color: #70ac10;
  color: white;
}

.logo {
  display: flex;
  align-items: center; /* 수직 정렬 */
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.logo-icon {
  width: auto;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  /* 약간 내려오게 하기 */
  margin-top: 0px;
}
